{% extends 'base/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock title %}

<!-- Begin Page Content -->
{% block page_content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"></h1>
    <!-- Begin Content Row 1 -->
    <div class="row">
        <!-- Begin Card-Presentación - -->
        <div class="col-xl-12 col-md-12 mb-12">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-s font-weight-bold text-info mb-1">Gestión de Cursos
                            </div>
                            <br>
                            <p>Control de cursos y alumnos | CEICUM.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Card-Presentación - -->

    </div>
</div>
{% endblock page_content %}
<!-- End Page Content -->